/* ==================== helpers ================= */

.filler {
  height: 300px;
}
.brake-word {
  overflow-wrap: break-word;
}

.overlay-hidden {
  overflow-x: scroll;
}
.overlay-scroll {
  width: 800px;
  height: 302px;
}

.custom-card {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 4px;
}
.custom-container {
  width: 100%;
  padding: 0 1.2rem;
}

.custom-section {
  margin: 10px 0;
  box-shadow: 0px -4px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 0px 4px 10px rgb(50 50 50 / 0.25);
  box-shadow: 0px 4px 4px #888, 0px -4px 4px rgb(175, 174, 174);
  border-radius: 4px;
  padding: 10px 10px;
}

.custom-section > .col > div > #materialbox-overlay {
  background-color: #fff;
}

#back-to-top-btn:hover .bi-arrow-up-circle-fill {
  cursor: pointer;
  color: #ee6e73;
  transition: 0.15s ease-in-out;
}
#back-to-top-btn .bi-arrow-up-circle-fill {
  background-color: #fff;
  color: #a4a4a4;
  border-radius: 100%;
  line-height: 10px;
  font-size: 55px;
  display: inline-block;
  border: none;
  transition: 0.15s ease-in;
}

/* ======================  ====================== */
.parallax-container {
  height: 350px;
}

.parallax img {
  filter: blur(0.5px) brightness(0.7) grayscale(0.2) saturate(0.9) sepia(0.2)
    contrast(0.8);
}

.solvedCounter,
.membersCounter {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ee6e73;
}
.counterLabel {
  color: rgba(0, 0, 0, 0.87);
}

.countersBlock {
  padding-top: 30px;
  padding-bottom: 20px;
}

.mediaItem {
  margin-bottom: 10px;
}

/*------------------------------ news page -------------------------*/

.newsItemBody {
  transform: scale(1);
  transition: transform 0.5s ease;
  margin: 20px 0;
}
.newsItemBody:hover,
.newsItemBody:focus,
.newsItemBody:active {
  transform: scale(1.03);
  transition: transform 0.5s ease;
}

.tags {
  position: relative;

  display: flex;
  flex-wrap: wrap;
}

/*------------------------------ common components styles -------------------------*/

.divider {
}

/* label color */
.input-field label {
  color: #000;
}
/* label focus color */
.input-field input[type="text"]:focus + label {
  color: #ee6e73;
}
/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #ee6e73;
  box-shadow: 0 1px 0 0 #ee6e73;
}
/* valid color */
.input-field input[type="text"].valid {
  border-bottom: 1px solid #ee6e73;
  box-shadow: 0 1px 0 0 #ee6e73;
}
/* invalid color */
.input-field input[type="text"].invalid {
  border-bottom: 1px solid #ee6e73;
  box-shadow: 0 1px 0 0 #ee6e73;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #ee6e73;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ee6e73;
  -webkit-box-shadow: 0 1px 0 0 #ee6e73;
  box-shadow: 0 1px 0 0 #ee6e73;
}

/* -------------------------------------  manage pages ------------------- */

.manageNav {
  font-size: 18px;
  margin: 16px;
}
.manageNav-item a:hover {
  background-color: #ee6e73;
  color: #fff;
}
.manageNav-item {
  padding: 0 !important;
}
.manageNav-item a {
  padding: 20px 10px;
  display: block;
}
